// Define variables for your color scheme

// For example:
$dark-orange: #E36414;
$dark-blue: #00296B;
$medium-blue: #003F88;
$lighter-blue: #00509D;
$yellow: #FFD500;
$orange: #FB8B24;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$red: #b71111;
$green: #3cde6f;
$dark-green: #0f5e28;
