#communities-index-title h2 {
  color: $dark-orange;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 49px;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 12px;
  position: absolute;
}

#index-page-button {
  margin-top: calc(100vh - (240px));
  margin-left: 55px;
  font-family: 'Roboto';
}

#index-photo {
  background: asset_url("football-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#index-h2 {
  text-align: center;
  padding-top: 20px;
}

.card-category {
  height: 300px;
  width: 380px;
  background-size: cover;
  margin: 50px;
  border-radius: 45px;
  box-shadow: 2px -2px 2px black;
  display: flex;
  flex-direction: column;
  color: white;
}

#index-card-input{
  display: none;
}

#index-card-button {
  border-radius: 45px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.cards a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
}

.cards a:hover {
  color: black;
}

#link-text a{
  text-align: center;
}

.avatar-large {
  height: 80px;
  width: 80px;
}
