.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#show-h2 {
  color: rgb(193, 127, 5);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
