.column {
  float: left;
  width: 50%;
  padding-right: 25px;
  padding-left: 25px;
}
#show-photo {
  background: asset_url("football-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#h2-results{
  padding-top: 10px;
}

#green {
  color: green;
  font-weight: 900;
  font-family: 'Outfit';
  font-family: 'Varela Round';
}

#orange {
  color: rgb(71, 71, 231);
  font-weight: 900;
  font-family: 'Varela Round';
}

#red {
  color: rgb(241, 7, 7);
  font-weight: 900;
  font-family: 'Varela Round';
}

#show-h2 {
  color: $white;
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 30px;
  text-decoration: black;
  text-shadow: 2px 2px $dark-orange;
}

#show-h3 {
  padding-top: 40px;
  text-align: center;
}

#show-h4 {
  text-align: center;
}
.tab-pane{
  background: rgba(234, 233, 233, 0.929);
}

#show-link {
  background: rgba(234, 233, 233, 0.929)
}

.team-name {
  width: 120px;
  display: inline-block;
}

#away-team{
  text-align: left;
}
#home-team{
  text-align: right;
}

#team-results{
  margin: 0 20px;
  font-family: $bungee;
}

// #guess-the-score-tab{
//   color: $dark-green;
//   font-weight: 700;
// }

// #weekly-table-tab{
//   color: $dark-green;
//   font-weight: 700;
// }

// #overall-table-tab{
//   color: $dark-green;
//   font-weight: 700;
// }

// #overview-tab{
//   color: $dark-green;
//   font-weight: 700;
// }

#show-form{
   padding-bottom: 40px;
}

#show-link{
  color: white;
}

#show-button{
  margin-left: 15px;
  display: flex;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.table {
  background: white;
}
