<div style="background-image: url(<%=asset_url "carousel_background_1.jpg"%>); height: 100vh; width: 100vw; background-position: center; background-size: cover;">
  <h1 id="header-text-main">Guess The Score</h1>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 text-center" style="margin-top: 200px">
          <button type="button" class="btn btn-success btn-lg rounded-pill shadow-lg p-4 mr-4" data-toggle="modal" data-target="#exampleModal">Create Your League</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Create a league</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="league-name-input">League name</label>
                    <input type="text" class="form-control" name="community_name" id="league-name-input" aria-describedby="league-name-text-small" placeholder="Enter a league name">
                    <small id="league-name-text-small" class="form-text text-muted">How are you related to the other players in your league? </small>
                  </div>
                  <div class="form-group">
                    <label for="League-competition-input">Which competition do you follow?</label>
                    <select class="form-control" name="league_id" id="league-competition-input">
                      <option>Premier League</option>
                      <option>Women's Super League</option>
                      <option>Bundesliga</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Create</button>
                </form>
              </div>
            </div>
          </div>
        </div>
          <button type="button" class="btn btn-primary btn-lg rounded-pill shadow-lg p-4 ml-4">Join A League</button>
        </div>
      </div class="row">
    </div class="container">
</div>
