.form-guess {
  width: 80px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.form-guess-label {
  display: inline-block;
}

.guess-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
