.form-guess {
  width: 80px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.form-guess-label {
  display: inline-block;
}

.guess-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#guess-score-overlay:hover {
  font-weight: 1000;
  box-shadow: 0.7px 0.8px #f0eeee;
  color: #8696cc;
  cursor: pointer;
}
