.navbar-lewagon {
  justify-content: space-between;
  background: rgba(237, 237, 237, 0.408);
  padding: 20px;
  color: $gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar-home-link{
  color: black;
  text-decoration: none;
}
