<table> Overall Results
  <tr>
    <th>Name</th>
    <th>Exact</th>
    <th>Fuzzy</th>
    <th>Points</th>
  </tr>
   <% @sorted_members.each do |member| %>
      <tr><td><%= member.user.first_name %></td>
      <td><%= member.overall_exact %></td>
      <td><%= member.overall_fuzzy %></td>
      <td><%= member.overall_points %></td></tr>
    <% end %>
</table>
