
<div id="communities-index-title">
  <h2>Communities Index</h2>
</div>
<div class="cards">
  <% @communities.each do |community| %>
    <div class="card-category" style="background-image: url('/assets/carousel_background_1.jpg')">
      <%= link_to community.community_name, community_path(community) %>
      <p><%= community.join_code if community.owner == current_user %></p>
    </div>
  <% end %>
</div>


<%= link_to "Back to Home", root_path %>
